<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://facebook.com/{{ site.facebook_username }}" target="_blank" rel="noopener">
              <i class="icon-social-facebook"></i>
            </a>
            </li>
            <!-- <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
              <i class="icon-social-twitter"></i>
            </a>
            </li> -->
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener">
              <i class="icon-social-instagram"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Ielectro Fix Solutions {{ 'now' | date: "%Y" }}</p>
        <p class="text-muted small mb-0">Designed by <a href="https://1019studios.org">1019 Studios LLC</a>
        </p>

    </div>
</footer>